.btn{
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 600;
}

.btn-primary{
    color: #fff;
    border: 2px solid #ffffff;
    line-height: 4.8rem;
    border-radius: 12.2rem;
    padding: 0 2.4rem;
    transition: all .4s;
    &:hover{
        color: #000;
        background-color: rgb(142, 5, 255);
        border: 2px solid #fff;
    }
}

.btn-second{
    color: $text-color-primary;
    border: 2px solid #ffffff;
    padding: 2rem;
    border-radius: 5rem;
    line-height: 2rem;
    transition: all .4s;
    &:hover{
        color: #fff;
        background-color: $border-color;
        border: 2px solid #fff;
    }
}

