.linguagens{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    overflow: hidden;
    padding: 2rem;
    @include responsive(991px){
        padding: 6rem;
    }
    .swiper-slide{
        display: flex;
        justify-content: flex-end;
    }
    .item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        padding: 1.5rem;
        // max-width: 31%;
        background-color: rgb(241, 241, 241);
        border-radius: 50px;
        box-shadow: -10px 10px 10px #333;
        .item-img{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            max-width: 30rem;
            height: 30rem;
            border-radius: 50%;
            border: 10px solid $border-color;
            margin-bottom: 2rem;
            transition: all .3s;
            &:hover{
                transform: scale(1.1);
                &#item-img01{
                    border: 10px solid rgb(255, 102, 0);
                }
                &#item-img02{
                    border: 10px solid rgb(194, 214, 8);
                }
                &#item-img03{
                    border: 10px solid rgb(13, 4, 145);
                }
                &#item-img04{
                    border: 10px solid rgb(170, 53, 194);
                }
                &#item-img05{
                    border: 10px solid rgb(47, 178, 230);
                }
                &#item-img06{
                    border: 10px solid rgb(64, 100, 165);
                }
                &#item-img07{
                    border: 10px solid rgb(60, 209, 255);
                }
                &#item-img08{
                    border: 10px solid rgb(224, 51, 51);
                }
            }
            img{
                width: 100%;
                max-width: 20rem;
                height: 20rem;
            }
        }
        h6{
            padding: 1rem 4rem;
            font-size: 2rem;
            border-radius: 10px;
            color: #fff;
            background-color: #6D00FF;
            transition: all .3s;
            &:hover{
                background-color: rgb(153, 228, 238);
                color: #6D00FF;
            }
        }
        p{
            text-align: center;
            font-size: 1.6rem;
            line-height: 150%;
        }
        .porcentagem{
            margin-top: 2rem;
            width: 100%;
            max-width: 40rem;
            height: 5rem;
            border-radius: 10rem;
            background-color: rgb(201, 187, 255);
            .sub-porcentagem{
                position: relative;
                max-width: 40rem;
                height: 5rem;
                border-radius: 10rem;
                background-color: crimson;
                &:hover{
                    span{
                        color: #f2f2f2;
                    }
                }
                span{
                    font-size: 3.5rem;
                    font-weight: 600;
                    position: absolute;
                    top: 0.6rem;
                    transition: color .3s;
                }
            }
            #sub-01{
                width: 65%;
                span{
                    left: 138px;
                }
            }
            #sub-02{
                width: 30%;
                span{
                    left: 25px;
                }
            }
            #sub-03{
                width: 60%;
                span{
                    left: 122px;
                }
            }
            #sub-04{
                width: 65%;
                span{
                    left: 138px;
                }
            }
            #sub-05{
                width: 30%;
                span{
                    left: 25px;
                }
            }
            #sub-06{
                width: 65%;
                span{
                    left: 140px;
                }
            }
        }
    }
    @include responsive(480px){
        padding: 2rem;
        margin-bottom: 25rem;
    }
}